# Ignore node_modules
/node_modules
node_modules/

# Ignore build output
dist/
Prairie/dist/

# Ignore npm cache
.npm-cache

# Ignore log files
*.log

# Ignore OS files
.DS_Store
ehthumbs.db
Thumbs.db

# Ignore vim swap files
*.swp

# Ignore vscode settings
.vscode/settings.json
